.navbar {
    background-color: rgba(52, 201, 75, 1);
    height: 74px;
    padding: 0px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Poppins;
}

.feedback {
    background-color: black;
    border: 1px;
    border-radius: 12px;  
}